.intro-pagina{
	width: 100%;
	height: 200px;
	background-image: url(../imagens/estudos3.jpg);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 2px #313131;
}

.intro-pagina h1{
	font-family: calibri;
	font-size: 28px;
	font-weight: normal;
	color: #FFF;
	text-align: center;
	margin-top: 70px;

}


.conteudo{
	width: 100%;
	float: left;
}

.box-noticia{
	width: 100%;
	float: left;
	border-top: 1px solid #FF403F;
	margin-bottom: 40px;
	padding: 20px;
}

.box-noticia h1{
	font-size: 24px;
	color: #313131;
	margin: 0px;
	padding: 0px;
	float: left;
	clear: both;

}

.box-noticia p{
	font-size: 13px;
	color: #313131;
	margin-top: 20px;
	float: left;
	clear: both;
	
}

.bt-vermais{
	transition: all 300ms;
	font-size: 12px;
	color: #FFF;
	background-color: #FF403F;
	border: 0px;
	border-bottom: 2px solid #CC3332;
	padding: 5px 30px;
}

.bt-vermais:hover{
	transition: all 300ms;
	background-color: #CC3332;
}




.categorias{
	width: 100%;
	margin-bottom: 40px;
	float: left;
}

.categorias ul{

}

.categorias ul li{
	transition: all 300ms;
	width: 100%;
	font-size: 12px;
	font-style: italic;
	color: #313131;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	margin-bottom: 2px;
	padding: 5px 10px;
	float: left;
	clear: both;
}

.categorias ul li:hover{
	transition: all 300ms;
	color: #FFF;
	background-color: #FF403F;
	border-bottom: 2px solid #CC3332;
}